APP_TITLE=QRKot
APP_DESCRIPTION=Сервис поддержки котиков
DATABASE_URL='sqlite+aiosqlite:///./fastapi.db'
SECRET=secret
FIRST_SUPERUSER_EMAIL=FIRST_SUPERUSER@example.com
FIRST_SUPERUSER_PASSWORD=FIRST_SUPERUSER_PASSWORD
EMAIL=FIRST_SUPERUSER@example.com
TYPE=TYPE_account
PROJECT_ID=PROJECT_ID
PRIVATE_KEY_ID=PRIVATE_KEY_ID
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----PRIVATE_KEY-----END PRIVATE KEY-----\n"
CLIENT_EMAIL="CLIENT_EMAIL"
CLIENT_ID="CLIENT_ID"
AUTH_URI="https://accounts.google.com/o/oauth2/auth"
TOKEN_URI="https://oauth2.googleapis.com/token"
AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
CLIENT_X509_CERT_URL="CLIENT_X509_CERT_URL"
universe_domain="googleapis.com"